obj/*
SpaceEngineers/obj/*

.vs/SpaceEngineers/FileContentIndex/83ace349-8d60-4fd7-a9be-b8ea80e91016.vsidx
.vs/SpaceEngineers/FileContentIndex/414bf669-76bd-489c-a2e6-84526f7f9c61.vsidx
.vs/SpaceEngineers/v17/.suo
.vs/SpaceEngineers/v17/DocumentLayout.json
SpaceEngineers/.vs/SpaceEngineers.csproj.dtbcache.json
SpaceEngineers/bin/x64/Debug/CppNet.dll
SpaceEngineers/bin/x64/Debug/EmptyKeys.UserInterface.Core.dll
SpaceEngineers/bin/x64/Debug/EmptyKeys.UserInterface.Core.xml
SpaceEngineers/bin/x64/Debug/EmptyKeys.UserInterface.dll
SpaceEngineers/bin/x64/Debug/EmptyKeys.UserInterface.xml
SpaceEngineers/bin/x64/Debug/HavokWrapper.dll
SpaceEngineers/bin/x64/Debug/netstandard.dll
SpaceEngineers/bin/x64/Debug/ProtoBuf.Net.Core.dll
SpaceEngineers/bin/x64/Debug/RecastDetourWrapper.dll
SpaceEngineers/bin/x64/Debug/Sandbox.Common.dll
SpaceEngineers/bin/x64/Debug/Sandbox.Common.xml
SpaceEngineers/bin/x64/Debug/Sandbox.Game.dll
SpaceEngineers/bin/x64/Debug/Sandbox.Game.dll.config
SpaceEngineers/bin/x64/Debug/Sandbox.Game.xml
SpaceEngineers/bin/x64/Debug/Sandbox.Game.XmlSerializers.dll
SpaceEngineers/bin/x64/Debug/Sandbox.Graphics.dll
SpaceEngineers/bin/x64/Debug/Sandbox.RenderDirect.dll
SpaceEngineers/bin/x64/Debug/SharpDX.D3DCompiler.dll
SpaceEngineers/bin/x64/Debug/SharpDX.D3DCompiler.xml
SpaceEngineers/bin/x64/Debug/SharpDX.Direct3D11.dll
SpaceEngineers/bin/x64/Debug/SharpDX.Direct3D11.xml
SpaceEngineers/bin/x64/Debug/SharpDX.dll
SpaceEngineers/bin/x64/Debug/SharpDX.DXGI.dll
SpaceEngineers/bin/x64/Debug/SharpDX.DXGI.xml
SpaceEngineers/bin/x64/Debug/SharpDX.xml
SpaceEngineers/bin/x64/Debug/SixLabors.Core.dll
SpaceEngineers/bin/x64/Debug/SixLabors.Core.xml
SpaceEngineers/bin/x64/Debug/SixLabors.ImageSharp.dll
SpaceEngineers/bin/x64/Debug/SixLabors.ImageSharp.xml
SpaceEngineers/bin/x64/Debug/SpaceEngineers.dll
SpaceEngineers/bin/x64/Debug/SpaceEngineers.Game.dll
SpaceEngineers/bin/x64/Debug/SpaceEngineers.Game.xml
SpaceEngineers/bin/x64/Debug/SpaceEngineers.ObjectBuilders.dll
SpaceEngineers/bin/x64/Debug/SpaceEngineers.ObjectBuilders.xml
SpaceEngineers/bin/x64/Debug/SpaceEngineers.ObjectBuilders.XmlSerializers.dll
SpaceEngineers/bin/x64/Debug/SpaceEngineers.pdb
SpaceEngineers/bin/x64/Debug/System.Buffers.dll
SpaceEngineers/bin/x64/Debug/System.Collections.Immutable.dll
SpaceEngineers/bin/x64/Debug/System.Memory.dll
SpaceEngineers/bin/x64/Debug/System.Numerics.Vectors.dll
SpaceEngineers/bin/x64/Debug/System.Runtime.CompilerServices.Unsafe.dll
SpaceEngineers/bin/x64/Debug/VRage.dll
SpaceEngineers/bin/x64/Debug/VRage.Game.dll
SpaceEngineers/bin/x64/Debug/VRage.Game.dll.config
SpaceEngineers/bin/x64/Debug/VRage.Game.xml
SpaceEngineers/bin/x64/Debug/VRage.Game.XmlSerializers.dll
SpaceEngineers/bin/x64/Debug/VRage.Input.dll
SpaceEngineers/bin/x64/Debug/VRage.Input.xml
SpaceEngineers/bin/x64/Debug/VRage.Library.dll
SpaceEngineers/bin/x64/Debug/VRage.Library.xml
SpaceEngineers/bin/x64/Debug/VRage.Math.dll
SpaceEngineers/bin/x64/Debug/VRage.Math.xml
SpaceEngineers/bin/x64/Debug/VRage.Math.XmlSerializers.dll
SpaceEngineers/bin/x64/Debug/VRage.NativeWrapper.dll
SpaceEngineers/bin/x64/Debug/VRage.Network.dll
SpaceEngineers/bin/x64/Debug/VRage.Render.dll
SpaceEngineers/bin/x64/Debug/VRage.Render.xml
SpaceEngineers/bin/x64/Debug/VRage.Render11.dll
SpaceEngineers/bin/x64/Debug/VRage.Render11.xml
SpaceEngineers/bin/x64/Debug/VRage.UserInterface.dll
SpaceEngineers/bin/x64/Debug/VRage.xml
SpaceEngineers/bin/x64/Debug/VRage.XmlSerializers.dll
